
Library/StateCache/SceneView/060ee9-mainStage.json
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
Library/StateCache/Hierarchy/eef224-mainStage.json
Library/StateCache/SceneView/060ee9-mainStage.json
Assets/Scenes/SampleScene.unity
